.build h2{
    text-align: center;
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 5rem;
}

.selectContainer{
    position: relative;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.selectContainer button{
    background: none;
    border: none;
    color: #f2f6fa;
    font-size: 3.5rem;
}

.selectContainer .card{
    border: 1px solid rgba(255, 255, 255, .1);
    max-width: 300px;
    width: 300px;
    margin: 0 auto;
    height: 350px;
    position: relative;
}

.cornerArrows{
    width: 370px;
    position: absolute;
    display: flex;
    justify-content: space-between;
}


.forwArrows{
    height: 420px;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cornerItem{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.cornerItem p{
    min-width: 300px;
    width: 300px;
    height: 250px;
    /* background-color: rosybrown; */
    position: absolute;
    left: 0;
}

.productCard{
    /* display: flex; */
    width: 300px;
    /* height: 400px; */
    text-align: center;
}

.category{
    font-size: 3rem;
}

.categoryContent{
    text-align: center;
}

.categoryContent img{
    width: 230px;
    /* height: 300px; */
}

.selectContainer .selectbtn{
    background-color: royalblue;
    border-radius: .5rem;
    margin-top: 2rem;
    padding: 1rem;
    font-size: 1.4rem;
}

.flexcol{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.description{
    margin: 4rem auto;
    width: 300px;
    border: 1px solid rgba(255, 255, 255, .1);
    text-align: left;
    padding: 1rem;
}

.description p{
    display: flex;
}


.listitemsnone{

    position: absolute;
    top: 0;
    left: -550px;
    height: 100vh;
    width: 300px;
    overflow: hidden;
    padding: 1rem;
    background-color: rgba(0, 0, 0, .9);
    transition: .8s ease-in-out;

}

.listitems{
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 300px;
    overflow: hidden;
    padding: 1rem;
    background-color: rgba(0, 0, 0, .9);
    transition: .8s ease-in-out;
}

.listitems h2, .listitemsnone h2{
    margin-top: 4rem;
    font-size: 2rem;
    text-align: left;
}

.listitems ul li, .listitemsnone ul li{
    margin: 2rem 0;
}

.listitems button, .listitemsnone button{
    border: none;
    background-color: transparent;
    color: rgba(255, 255, 255, 1);
    font-size: 2.5rem;
    position: absolute;
    right: 10px;
    top: 20px;
}

.buildbtn{
    background-color: transparent;
    color: rgba(255, 255, 255, 1);
    border: none;
    font-size: 3.5rem;
    position: absolute;
    bottom: 0;
    right: 20px;
}