html{
  font-size: 62.5%;
}

body{
  font-size: 1.6rem;
}

html,
body {
  font-family: 'Poppins', sans-serif;
  background-color: #07060A;
  color: #f2f6fa;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.center{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  color: #f2f6fa;
  font-size: 40px;
  line-height: 2.5rem;
  font-weight: 600;
  padding-top: 50px;
  width: 100%;
  margin: 0 auto;
  
}

.main{
  min-height: 85vh;
}

.container{
  background-color: #07060A;
  padding: 20px;
  text-align: center;
}

img{
  width: 100%;
  object-fit: cover;
}

main{
  margin: 0;
}

.centerImg{
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 800px;

}

details{
}

details > summary {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
}

details > summary i {
  font-size: 30px;
}


details > summary::before {
  content: '▶️';
  display: none;
}


details > summary::-webkit-details-marker {
  display: none;
}

summary{
  outline: none;

}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.center{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  color: #f2f6fa;
  font-size: 40px;
  line-height: 2.5rem;
  font-weight: 600;
  padding-top: 50px;
  width: 100%;
  margin: 0 auto;
  
}

.main{
  min-height: 85vh;
}

.container{
  background-color: #07060A;
  padding: 20px;
  text-align: center;
}

img{
  width: 100%;
  object-fit: cover;
}

main{
  margin: 0;
}

.centerImg{
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 800px;

}

details {
  transition:height 3s ease-in;
}

details summary ~ * {
  animation: sweep .5s ease-in-out;
}

details:not([open]) summary ~ *
{
  animation: nosweep .5s ease-in-out;
    
}

.btnmonitor{
  border: none;
  padding: .5rem;
  border-radius: 5px;
  background-color: dodgerblue;
  color: #f2f6fa;
  margin-top: 15px;
}

details[open] summary ~ * {
  animation: sweep .5s ease-in-out;
}

@keyframes sweep {
  0%    {opacity: 0; margin-left: -10px}
  100%  {opacity: 1; margin-left: 0px}
}

@keyframes nosweep {
  0%    {opacity: 1; margin-left: 0px}
  100%  {opacity: 0; margin-left: -10px}
}
details > summary {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  transition: 1s;
}

details > summary div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

details ul {
  padding: 0 10px;
}

details ul li:first-child {
  border-bottom: 1px solid rgba(255, 255, 255, .5);
}

details ul li {
  padding: 20px;
}

details > summary i {
  font-size: 30px;
}


details > summary::before {
  content: '▶️';
  display: none;
  transition: 1s;
}


details > summary::-webkit-details-marker {
  display: none;
}

summary{
  outline: none;

}

.cart-card{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid rgba(255, 255, 255, .1);
  margin: 20px;
  padding: 10px;
}

.cart-card .content{
  display: flex;
  flex-direction: column;
}

.menu{
  position: fixed;
  bottom: 0;
  left: 0;
  height: 40px;
  width: 100%;
  border-top: 1px solid rgba(255, 255, 255, .1);
  margin: 0;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #07060A;
  padding: 2.5rem;
}

.menu a{
  font-size: 2.4rem;
}

.title-cart{
  font-size: 1.4rem;
  padding: 1rem 2rem;
  padding-bottom: 0;
  font-weight: 600;
}

.cart-card .img{
  width:100px;
}

.cart-item{

  border: 1px solid rgba(255, 255, 255, .1);
  margin: 20px;
  padding: 10px;
  margin-bottom: 5px;
}

.cart-item h3{
  font-size: 1.4rem;
  font-weight: 600;
}

.cart-item-name{
  font-size: 1.2rem;
  text-transform: capitalize;
}

.content-footer button{
  background-color: transparent;
  border: none;
  color: #f2f6fa;
  font-size: 1.8rem;
}

.cart-footer{
  position: absolute;
  bottom: 50px;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  /* margin: 2rem; */
  width: 100%;
}

.cart-footer button{
  font-size: 2rem;
  border: none;
border-radius: 5px;
/* padding: 2rem; */
height: 40px;
width: 40px;
background-color: royalblue;
color: #f2f6fa;
}

form{
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 3rem auto;
  padding: 1.5rem;
}

form h2{
  font-weight: 500;
  margin-bottom: 2.5rem;
}

form p{
  font-size: 1.4rem;
  font-weight: 300;
  margin-bottom: 2.5rem;
}

.form-group{
  width: 100%;
  height: 50px;
  padding: .5rem;
  margin: 1rem;
  background-color: rgba(255, 255, 255, .1);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

.form-group input{
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  padding: 1rem;
  color: #f2f6fa;
  padding-top: .5rem;
}

.form-group label{
  font-size: .8rem;
  letter-spacing: .1rem;
  padding: 0 1rem;
  color: rgba(255, 255, 255, .4);
}

.form-group-btn{
  width: 100%;
  height: 50px;
  padding: .5rem;
  margin: 1rem;
  background-color: rgba(255, 255, 255, .1);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: royalblue;
}
.form-group-btn input{
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  padding: 1rem;
  color: #f2f6fa;
  font-weight: 600;
  font-size: 1.4rem;
}

.form-group input[type="radio"]{

  width: 40px;
  margin: 2px;
}

.login-register{
  font-size: 1.4rem;
  font-weight: 300;
  margin-bottom: 2.5rem;
  text-align: center;
  margin-top: 4rem;
  color: rgba(255, 255, 255, .3);
}

.profile-name a{
  font-size: 1.2rem;
}

.special-text{
  color: royalblue;
}
@media screen and (min-width: 500px) {
  form{
    max-width: 450px;
  }
}