html,
body {
  font-family: 'Poppins', sans-serif;
  background-color: #07060A;
  color: #f2f6fa;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.center{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  color: #f2f6fa;
  font-size: 40px;
  line-height: 2.5rem;
  font-weight: 600;
  padding-top: 50px;
  width: 100%;
  margin: 0 auto;
  
}

.main{
  min-height: 85vh;
}

.container{
  background-color: #07060A;
  padding: 20px;
  text-align: center;
}

img{
  width: 100%;
  object-fit: cover;
}

main{
  margin: 0;
}

.centerImg{
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 800px;

}

details{
}

details > summary {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
}

details > summary i {
  font-size: 30px;
}


details > summary::before {
  content: '▶️';
  display: none;
}


details > summary::-webkit-details-marker {
  display: none;
}

summary{
  outline: none;

}
html,
body {
  font-family: 'Poppins', sans-serif;
  background-color: #07060A;
  color: #f2f6fa;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.center{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  color: #f2f6fa;
  font-size: 40px;
  line-height: 2.5rem;
  font-weight: 600;
  padding-top: 50px;
  width: 100%;
  margin: 0 auto;
  
}

.main{
  min-height: 85vh;
}

.container{
  background-color: #07060A;
  padding: 20px;
  text-align: center;
}

img{
  width: 100%;
  object-fit: cover;
}

main{
  margin: 0;
}

.centerImg{
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 800px;

}

details {
  transition:height 3s ease-in;
}

details summary ~ * {
  animation: sweep .5s ease-in-out;
}

details:not([open]) summary ~ *
{
  animation: nosweep .5s ease-in-out;
    
}

.btnmonitor{
  border: none;
  padding: .5rem;
  border-radius: 5px;
  background-color: dodgerblue;
  color: #f2f6fa;
  margin-top: 15px;
}

details[open] summary ~ * {
  animation: sweep .5s ease-in-out;
}

@keyframes sweep {
  0%    {opacity: 0; margin-left: -10px}
  100%  {opacity: 1; margin-left: 0px}
}

@keyframes nosweep {
  0%    {opacity: 1; margin-left: 0px}
  100%  {opacity: 0; margin-left: -10px}
}
details > summary {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  transition: 1s;
}

details > summary div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

details ul {
  padding: 0 10px;
}

details ul li:first-child {
  border-bottom: 1px solid rgba(255, 255, 255, .5);
}

details ul li {
  padding: 20px;
}

details > summary i {
  font-size: 30px;
}


details > summary::before {
  content: '▶️';
  display: none;
  transition: 1s;
}


details > summary::-webkit-details-marker {
  display: none;
}

summary{
  outline: none;

}